#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* LOGIN SIGNUP PAGE START*/
.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 120px;
  background: grey;
  padding-bottom: 30px;
  width:600px;
  border-radius: 25px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 100%;
  margin-top: 30px;
}

.textSignUp {
  color: cyan;
  font-size: 38px;
  font-weight: 700;
}

.textLogin {
  color:#001F3F;
  font-size: 38px;
  font-weight: 700;
}

.underline {
  width: 61px;
  height: 6px;
  background: cyan;
  border-radius: 9px;
}

.underlineLogin {
  width: 61px;
  height: 6px;
  background: #001F3F;
  border-radius: 9px;
}

.inputs {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 480px;
  height: 50px;
  background: #eaeaea;
  border-radius: 6px;
}

.input img {
  margin: 0px 30px;
  width:10px;
  height:10px;
}

.input input {
  height: 30px;
  width: 200px;
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 15px;
}

.signup , .login {
  padding-left: auto;
  margin-top: 27px;
  color: white;
  font-size: 18px;
}

.signup span , .login span{
  color:#4c00b4;
  cursor: pointer;
}

.submit-container {
  display: flex;
  gap: 30px;
  margin: 20px auto;
}

.submitSignUp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 35px;
  color: black;
  background: cyan;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  
}

.submitSignUp:hover {
  background: darkcyan; /* Changes background color on hover */
  color: white; /* Changes text color on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a shadow effect */
  transition: all 0.3s ease; /* Smooth transition for hover effect */
}

.submitLogin{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 35px;
  color: white;
  background: #001F3F;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
}

.submitLogin:hover {
  background: #0056b3; /* Lighter blue on hover */
  color: #e0e0e0; /* Lighter text color on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a shadow effect */
  transition: all 0.3s ease; /* Smooth transition for hover effect */
}
/* LOGIN SIGNUP PAGE END */