@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


/* body{
  background-color: #c9d6ff;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
} */

html,body{
  margin:0;
  padding:0;
  background-color: #c9d6ff;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
  color:white;
  font-family: "Montserrat",sans-serif;
  align-items: center;
  justify-content: center;
  /* overflow-y: hidden; */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.robot{
  filter: invert(0%); /*It's the same as invert colors function on your phone*/
}

.flyingRobot{
  filter:invert(0%);
}

.nav-link{
  font-weight:600;
  text-transform: uppercase;
  margin-right: 10px;
  margin-left: 10px;
  padding: 8px 20px;
  border-radius: 10px;
  text-decoration: None;
  letter-spacing: 1px;
}

.MuiOutlinedInput-input-root.Mui-focused,
.MuiOutlinedINput-notchedOutline{
    border-color: white;
}

.css-1e02qv5{
  padding-bottom:0;
  margin-bottom: 0;
}

textarea{
  padding-bottom: 0;
  margin-bottom: 0;
}